
nav {

  
}
nav ul{

}

nav ul li{
list-style: none;
}

nav ul li a{
float: left;
text-decoration: none;
color: black;
box-shadow: 1px 1px 4px black ;
background-color: #ccc;
margin: 3px;
padding: 3px;

}